<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload GRIB File</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- script src="{{ url_for('static', filename='js/script.js') }}"></script -->

    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>

    <!-- Loading Indicator -->
    <div id="loading">
        <img id="loading-image" src="{{ url_for('static', filename='images/loading.gif') }}" alt="Loading..." />
    </div>

    <!-- Form box -->
    <div class="form-box">
        <h2>Upload your GRIB file</h2>

        <form id="grib-upload-form" action="#" method="post" enctype="multipart/form-data">
            <input type="file" name="grib_file">
            <input type="submit" value="Upload">
        </form>
    </div>

    <!-- JS scripts -->
    <script>
        window.doTheAjaxCall = function(obj) {
            console.log("Here we're!");

            let $form = $('#grib-upload-form');
            let $loading = $('#loading');

            // Disable the form elements and show the loading indicator
            $form.find(':input').prop('disabled', true);
            $loading.show();

            let formData = new FormData(obj);
            console.log("Here we're2!");

            $.ajax({
                url: '/detect-time-offset',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    // Hide loading indicator
                    $loading.hide();

                    // Re-enable the form elements
                    $form.find(':input').prop('disabled', false);

                    // Handle success
                    console.log(response)
                    alert('Time offset detection executed successfully.');
                },
                error: function (xhr, status, error) {
                    // Hide loading indicator
                    $loading.hide();

                    // Re-enable the form elements
                    $form.find(':input').prop('disabled', false);

                    // Handle error
                    alert('Error: ' + xhr.responseText);
                }
            });
        }

    // jQuery to handle the form submission
    $(document).ready(function() {
        console.log("WE")

        $('#grib-upload-form').on('submit', function(e) {
            e.preventDefault();

            console.log("Here we're! -1");

            window.doTheAjaxCall(this);
        });
    });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
